{
  "extends": ["airbnb", "plugin:jest/recommended"],
  "plugins": ["jest"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": 0,
    "jsx-a11y/label-has-for": [
      2,
      {
        "required": {
          "some": ["nesting", "id"]
        }
      }
    ],
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "components": ["Label"],
        "required": {
          "some": ["nesting", "id"]
        }
      }
    ],
    "react/jsx-props-no-spreading": ["off", {
      "html": "enforce",
      "custom": "enforce",
      "exceptions": []
    }],
    "jsx-a11y/anchor-is-valid": [ "error", {
      "components": [ "Link" ],
      "specialLink": [ "hrefLeft", "hrefRight" ],
      "aspects": [ "invalidHref", "preferButton" ]
    }],
    "jsx-a11y/control-has-associated-label": ["warn"],
    "react/prop-types": ["warn"]
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
